@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
    font-family: 'Architects Daughter', cursive;
    margin:0;
    text-align: center;
}

h1{
    margin: 0;
    background-color: rgb(85, 165, 53);
    padding: 20px;
    text-align: center;
    border-bottom: 2px black;
    border-style: solid;
}

.text{
    font-family: 'Indie Flower', cursive;
    width: 50%;
    height: 7vh;
    display: inline-block;
    margin: 1.1rem;
    padding: 2rem;
    border: 2px solid gray;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.translated{
    font-family: 'Indie Flower', cursive;
    width: 50%;
    height: 7vh;
    display: inline block;
    margin: 1.1rem;
    padding: 2rem;
    border: 2px solid gray;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 1rem;
}

button{
    font-size: 1rem;
    font-family: 'Indie Flower', cursive;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 2rem;
    border-radius: 1ch;
    width: 40%;
    border-color: rgb(60, 187, 34);
    border-width: 0.2rem; 
    border-style: outset;
    font-weight: bold;
    font-size: 20px; 
}

.btn:hover{
    background-color: rgb(131, 209, 131);
    border-color: green;
}
h2{
    font-weight: bolder;
    font-size: 30px;
    margin:0;
    border-spacing: 0px;


}
.about{
    text-align: center;
    border-style: solid;
    padding: 1rem ;
    margin: 20px;
    padding: 20px;
    /* background-color: lightgreen; */
}
.colour:hover{
    background-color: rgb(85, 165, 53);
} 

.button:hover{
    background-color: white;
}
footer{
    margin: 0;
    background-color: rgb(85, 165, 53);
    padding: 20px;
    text-align: center;
    border-bottom: 2px black;
    /* border-style: solid; */
}
footer a {
	padding:20px;
	margin: 0;
	text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover {
	/* text-decoration: underline; */
    color: rgb(58, 58, 59);
    
}

footer div{
    font-weight: bold;
}

.link{
    box-sizing: border-box;
    /* border: solid; */
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: rgb(60, 187, 34);
}

.primary-link{
    background-color: rgb(44, 117, 29);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-family: 'Noto Serif', serif;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}